<div class="card_header">
    <h2>
        <%= link_to restaurant_path(restaurant.id) do %>
            <%=restaurant.name%>
        <% end %>
    </h2>

        <%= link_to restaurant_path(restaurant.id) do %>
          <span class="link_button details_button">
            <%=image_tag('magnifier', class: "svg") %>
            Details
          </span>
        <%end%>


    <%if current_user && current_user.id != restaurant.user_id%>

        <%= link_to new_restaurant_reservation_path(restaurant.id) do %>
            <span class="link_button add_button reservation_button">
                <%=image_tag('covered-food-tray-on-a-hand-of-hotel-room-service', class: "svg") %>
                Make a reservation
            </span>
        <% end %>

    <%elsif current_user && current_user.id == restaurant.user_id%>
        ( Your Restaurant )
    <%elsif !current_user%>
      Please <%=link_to "log in", new_session_path %> or <%= link_to "sign up", new_user_path %> to make a reservation.
    <%end%>
</div>
<div class="restaurant_short">
    <p class="about"><%= restaurant.summary %></p>

    <p><span class="label">Category:</span><br>
        <%= restaurant.category %>
    </p>
        <p><span class="label">Neighbourhood:</span><br>
        <%= restaurant.neighbourhood %>
    </p>
    <p> <span class="label">Price range:</span><br>
        <% 4.times do |something| %>
            <% dollar_digns = restaurant.price_range %>
            <% if dollar_digns > 0 %>
                <img src="/assets/coin-of-dollar.svg" class="price-svg">
                <% dollar_digns -= 1 %>
            <%else%>
                <img src="/assets/coin-of-dollar-grey.svg" class="price-svg">
            <%end%>
        <%end%>
    </p>

</div>
