<%= form_for restaurant do |f| %>
<% if restaurant.errors.any? %>
   <div id="error_explanation">
     <p><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</p>
     <ul>
     <% restaurant.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
<% end %>

<div class="new_restaurant_form">
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category %><br/>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :price_range %><br/>
    <%= f.number_field :price_range %>
  </p>
  <div class="restaurant_summary">
    <p>
      <%= f.label :summary %><br/>
      <%= f.text_area :summary %>
    </p>
  </div>
  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :neighbourhood %><br/>
    <%= f.text_field :neighbourhood %>
  </p>
  <p>
    <%= f.label :capacity %><br/>
    <%= f.number_field :capacity %>
  </p>
  <div class="new_restaurant_max_reservatin_size">
    <p>
      <%= f.label :max_reservation_size %><br/>
      <%= f.number_field :max_reservation_size %>
    </p>
  </div>
</div>

<h3>Restaurant Hours:</h3>
<div class="restaurant_hours_form">
      <div class="days">
      <p></p>
        <p>Monday</p>
        <p>Tuesday</p>
        <p>Wednesday</p>
        <p>Thursday</p>
        <p>Friday</p>
        <p>Saturday</p>
        <p>Sunday</p>
      </div>
      <div class="restaurant_hours_fields">
      <p>Open from:</p>
      <p><%= f.number_field :mon_open_from %><p>
      <p><%= f.number_field :tues_open_from %><p>
      <p><%= f.number_field :wed_open_from %><p>
      <p><%= f.number_field :thurs_open_from %><p>
      <p><%= f.number_field :fri_open_from %><p>
      <p><%= f.number_field :sat_open_from %><p>
      <p><%= f.number_field :sun_open_from %><p>
    </div>
    <div class="restaurant_hours_fields">
      <p>Open until:</p>
      <p><%= f.number_field :mon_open_until %><p>
      <p><%= f.number_field :tues_open_until %><p>
      <p><%= f.number_field :wed_open_until %><p>
      <p><%= f.number_field :thurs_open_until %><p>
      <p><%= f.number_field :fri_open_until %><p>
      <p><%= f.number_field :sat_open_until %><p>
      <p><%= f.number_field :sun_open_until %><p>
    </div>
<%= f.submit 'submit', :class => 'submit' %>
<% end %>
