<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="container">
  <img src="assets/covered-food-tray-on-a-hand-of-hotel-room-service.svg" class="logo_2">
  <h2 class="title">Restaurants</h2>
</div>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <div class="card restaurant_card">
        <%= render 'restaurant_short', restaurant: restaurant %>
      </div>
    </li>
  <% end %>
</ul>


<div class="card restaurant_card">



        <%= link_to new_restaurant_path do %>
          <span class="link_button add_button">
            <%=image_tag('plus-black-symbol', class: "svg") %>
            Add Restaurant
          </span>
        <%end%>

        <%= link_to restaurant_path(@restaurants.first.id) do %>
          <span class="link_button details_button">
            <%=image_tag('magnifier', class: "svg") %>
            Details
          </span>
        <%end%>

        <%= link_to new_restaurant_menu_item_path(@restaurants.first.id) do %>
          <span class="link_button add_button">
            <%=image_tag('plus-black-symbol', class: "svg") %>
            New Menu Item
          </span>
        <% end %>

      <%= link_to new_restaurant_reservation_path(@restaurants.first.id) do %>
        <span class="link_button add_button reservation_button">
          <%=image_tag('covered-food-tray-on-a-hand-of-hotel-room-service', class: "svg") %>
          Make a Reservation
        </span>
      <% end %>

      <%= link_to new_restaurant_reservation_path(@restaurants.first.id) do %>
      <span class="link_button delete_button">
        <%=image_tag('rubbish-bin', class: "svg") %>
        Delete
            </span>
      <% end %>

      <%= link_to new_restaurant_reservation_path(@restaurants.first.id) do %>
      <span class="link_button edit_button">
        <%=image_tag('writing', class: "svg") %>
        Edit
            </span>
      <% end %>

</div>


